<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GAV</title>
<link href="css/estilos.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="contenedor_prin">
  


        <div id="top">            
        <div id="centrar_top">
        
            <div id="top_superior">
                  <img src="img/logo_negro.gif" class="logo_top"/>
            
                  <div id="buscador_top">
                  <form action="" method="post">
                  <input name="" type="text" class="search_top"/>
                  <input name="imageField2" type="image" src="img/btn/buscar_black.gif" border="0" class="btn_buscar_top">
                  </form>
                  
                  <ul id="categorias_top">
                  <li><a href="#">Categoría 1</a></li>
                  <li>|</li>
                  <li><a href="#">Categoría 2</a></li>
                  <li>|</li>
                  <li><a href="#">Categoría 3</a></li>
                  <li>|</li>
                  <li><a href="#">Categoría 4</a></li>
                  <li>|</li>
                  <li><a href="#">Categoría 5</a></li>
                  </ul>
                  
                  </div>
                  
                 <img src="img/gav_black.jpg" class="gav_icon_top"/> 
                 
               </div>
           
              <ul id="botonera_top">
          <li><a href="#">Home</a></li>
          <li><a href="#">Nosotros</a></li>
        <li><a href="#">Registro</a></li>
          <li><a href="#">Consultas</a></li>
             <li><a href="#">Newsletter</a></li>
            </ul>  
             
             <div id="login_top">
             <a href="#" class="btn_login_home"></a>
             <a href="#" class="olvido_pass">¿Olvidaste tu contraseña?</a>
             </div>          
            
        </div>
        </div>

                        

<div id="contenedor_central"> 

        <div id="contenedor_seccion">
            
            <div id="desplegable">
            <h5 class="tit_categoria_desp">Proveedores</h5>
            <a href="#" class="top_ver_todas">Ver todas >></a>
            </div>  
            
            
            <div id="lateral_derecho">
                <ul id="lista_banners">
                <li><img src="img/banner_right.jpg" /></li>
                <li><img src="img/200x240.jpg" /></li>
                <li><img src="img/anuncie_gav.jpg" /></li>
                <li><img src="img/200x60.jpg" /></li>
                </ul>
            </div>
            
            
                <div id="lateral_izquierdo">
                
                    <div id="lista_alfabetico">
                    <p class="tit_orden_alfa">Buscar por orden alfabetico</p>
                    
                           <ul>
                        <li><a href="#">A</a></li>   <li><a href="#">B</a></li>   <li><a href="#">C</a></li>   <li><a href="#">D</a></li>   <li><a href="#">E</a></li>   <li><a href="#">F</a></li>   <li><a href="#">G</a></li>   <li><a href="#">H</a></li>   <li><a href="#">I</a></li>   <li><a href="#">J</a></li>   <li><a href="#">K</a></li>   <li><a href="#">L</a></li>   <li><a href="#">M</a></li>   <li><a href="#">N</a></li>   <li><a href="#">Ñ</a></li>   <li><a href="#">O</a></li>   <li><a href="#">P</a></li>   <li><a href="#">Q</a></li>   <li><a href="#">R</a></li>   <li><a href="#">S</a></li>   <li><a href="#">T</a></li>   <li><a href="#">U</a></li> <li><a href="#">V</a></li> <li><a href="#">X</a></li> <li><a href="#">Y</a></li> <li><a href="#">Z</a></li>
                    </ul>
                    
                    </div>
                    
                    
                    
                    <ul id="listado_proveedores">
                    
                        <li>
                            <div class="cont_prov_li">
                            <img src="img/proveedores/thumb.gif" />
                            <p class="datos_prov">Nombre del Proveedor</p>
                            <p class="datos_prov">Dirección</p>
                            <p class="datos_prov">E-Mail</p>
                            <a href="#" class="ampliar_listado">VER MAS ></a>
                            </div>
                            
                            <a href="#" class="link_categoria">Nombre de categoría</a>
                        </li>
                        
                        
                         <li>
                            <div class="cont_prov_li">
                            <img src="img/proveedores/thumb.gif" />
                            <p class="datos_prov">Nombre del Proveedor</p>
                            <p class="datos_prov">Dirección</p>
                            <p class="datos_prov">E-Mail</p>
                            <a href="#" class="ampliar_listado">VER MAS ></a>
                            </div>
                            
                            <a href="#" class="link_categoria">Nombre de categoría</a>
                        </li>
                        
                        
                        
                        
                         <li>
                            <div class="cont_prov_li">
                            <img src="img/proveedores/thumb.gif" />
                            <p class="datos_prov">Nombre del Proveedor</p>
                            <p class="datos_prov">Dirección</p>
                            <p class="datos_prov">E-Mail</p>
                            <a href="#" class="ampliar_listado">VER MAS ></a>
                            </div>
                            
                            <a href="#" class="link_categoria">Nombre de categoría</a>
                        </li>
                        
                        
                               <li>
                            <div class="cont_prov_li">
                            <p class="datos_prov">Nombre del Proveedor</p>
                            <p class="datos_prov">Dirección</p>
                            <p class="datos_prov">E-Mail</p>
                            <a href="#" class="ampliar_listado">VER MAS ></a>
                            </div>
                            
                            <a href="#" class="link_categoria">Nombre de categoría</a>
                        </li>
                        
                        
                        
                               <li>
                            <div class="cont_prov_li">
                            <img src="img/proveedores/thumb.gif" />
                            <p class="datos_prov">Nombre del Proveedor</p>
                            <p class="datos_prov">Dirección</p>
                            <p class="datos_prov">E-Mail</p>
                            <a href="#" class="ampliar_listado">VER MAS ></a>
                            </div>
                            
                            <a href="#" class="link_categoria">Nombre de categoría</a>
                        </li>
                         
                               <li>
                            <div class="cont_prov_li">
                            <p class="datos_prov">Nombre del Proveedor</p>
                            <p class="datos_prov">Dirección</p>
                            <p class="datos_prov">E-Mail</p>
                            <a href="#" class="ampliar_listado">VER MAS ></a>
                            </div>
                            
                            <a href="#" class="link_categoria">Nombre de categoría</a>
                        </li>
                        
                        
                        
                               <li>
                            <div class="cont_prov_li">
                            <img src="img/proveedores/thumb.gif" />
                            <p class="datos_prov">Nombre del Proveedor</p>
                            <p class="datos_prov">Dirección</p>
                            <p class="datos_prov">E-Mail</p>
                            <a href="#" class="ampliar_listado">VER MAS ></a>
                            </div>
                            
                            <a href="#" class="link_categoria">Nombre de categoría</a>
                        </li>
                         
                               <li>
                            <div class="cont_prov_li">
                            <p class="datos_prov">Nombre del Proveedor</p>
                            <p class="datos_prov">Dirección</p>
                            <p class="datos_prov">E-Mail</p>
                            <a href="#" class="ampliar_listado">VER MAS ></a>
                            </div>
                            
                            <a href="#" class="link_categoria">Nombre de categoría</a>
                        </li>
                        
                        
                        
                               <li>
                            <div class="cont_prov_li">
                            <img src="img/proveedores/thumb.gif" />
                            <p class="datos_prov">Nombre del Proveedor</p>
                            <p class="datos_prov">Dirección</p>
                            <p class="datos_prov">E-Mail</p>
                            <a href="#" class="ampliar_listado">VER MAS ></a>
                            </div>
                            
                            <a href="#" class="link_categoria">Nombre de categoría</a>
                        </li>
                        
                
                    </ul>
                    
                    

                        <div id="alinear_paginador">
                        <ul id="paginador">
                        <li><a href="#" class="pages_txt"> << Pagina anterior </a></li>   
                        <li><a href="#" class="pages_num">1</a></li>   
                        <li><a href="#" class="pages_num">2</a></li>   
                        <li><a href="#" class="pages_num">3</a></li>   
                        <li><a href="#" class="pages_num">4</a></li>
                        <li><a href="#" class="pages_num">5</a></li>
                        <li><a href="#" class="pages_txt"> Pagina siguiente >> </a></li>  
                        </ul>          
                        </div>
                            
             
                    
                
                </div>    
    
    
        </div>
    
</div>




    <div id="bottom">
        <div id="centrar_bottom">
        <img src="img/logo_bottom.png" />
        
            <ul id="botonera_bottom">
            <li><a href="#">Home</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Registro</a></li>
            <li><a href="#">Consultas</a></li>
            </ul>  
            
            <ul id="botonera_bottom">
            <li><a href="#">Categoria 01</a></li>
            <li><a href="#">Categoria 02</a></li>
            </ul>
            
            <ul id="botonera_bottom">
            <li><a href="#">Categoria 03</a></li>
            <li><a href="#">Categoria 04</a></li>
            </ul>   
             
            <ul id="botonera_bottom" style="border:0;">
            <li><a href="#">Categoria 05</a></li>
            <li><a href="#">Categoria 06</a></li>
            </ul>  
            
            
            <ul id="redes_soc_bottom">
            <li><p>Seguinos en:</p></li>
            <li><a href="#" class="icon_face"></a></li>
            <li><a href="#" class="icon_twitter"></a></li>
            </ul>
        
        
        
        </div>
    </div>






<div class="corte"></div>
</div>

</body>
</html>
